# Approach 2

In [1]:
import shutil


# Check if this gets executed in google colab.
# If so, then we need to install pip packages and clone the repo and data
try:
    import google.colab
except ImportError:
    IN_COLAB = False
else:
    IN_COLAB = True


if IN_COLAB:
    !git clone https://github.com/DavidWild02/BachelorThesis-ML-Gene-Interactions.git
    %cd ./BachelorThesis-ML-Gene-Interactions

    # copy data from drive folder.
    from google.colab import drive
    drive.mount('/content/drive')
    shutil.copytree("/content/drive/MyDrive/DavidWildBachelorthesis/data", "./data", dirs_exist_ok=True)

# install packages manually, because IPython and others cannot be installed, because that crashes the runtime
!pip install matplotlib numpy pandas seaborn anndata scanpy torch scikit-learn scipy tqdm

Requirement already satisfied: matplotlib in ./.venv/lib/python3.12/site-packages (3.10.1)
Requirement already satisfied: numpy in ./.venv/lib/python3.12/site-packages (2.2.4)
Requirement already satisfied: pandas in ./.venv/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: seaborn in ./.venv/lib/python3.12/site-packages (0.13.2)
Requirement already satisfied: anndata in ./.venv/lib/python3.12/site-packages (0.11.4)
Requirement already satisfied: scanpy in ./.venv/lib/python3.12/site-packages (1.11.1)
Requirement already satisfied: torch in ./.venv/lib/python3.12/site-packages (2.6.0)
Requirement already satisfied: scikit-learn in ./.venv/lib/python3.12/site-packages (1.5.2)
Requirement already satisfied: scipy in ./.venv/lib/python3.12/site-packages (1.15.2)
Requirement already satisfied: tqdm in ./.venv/lib/python3.12/site-packages (4.67.1)
Requirement already satisfied: contourpy>=1.0.1 in ./.venv/lib/python3.12/site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in ./.venv/lib/python3.12/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in ./.venv/lib/python3.12/site-packages (from matplotlib) (4.57.0)
Requirement already satisfied: kiwisolver>=1.3.1 in ./.venv/lib/python3.12/site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: packaging>=20.0 in ./.venv/lib/python3.12/site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in ./.venv/lib/python3.12/site-packages (from matplotlib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in ./.venv/lib/python3.12/site-packages (from matplotlib) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in ./.venv/lib/python3.12/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in ./.venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: array-api-compat!=1.5,>1.4 in ./.venv/lib/python3.12/site-packages (from anndata) (1.11.2)
Requirement already satisfied: h5py>=3.7 in ./.venv/lib/python3.12/site-packages (from anndata) (3.13.0)
Requirement already satisfied: natsort in ./.venv/lib/python3.12/site-packages (from anndata) (8.4.0)
Requirement already satisfied: joblib in ./.venv/lib/python3.12/site-packages (from scanpy) (1.4.2)
Requirement already satisfied: legacy-api-wrap>=1.4 in ./.venv/lib/python3.12/site-packages (from scanpy) (1.4.1)
Requirement already satisfied: networkx>=2.7 in ./.venv/lib/python3.12/site-packages (from scanpy) (3.4.2)
Requirement already satisfied: numba>=0.57 in ./.venv/lib/python3.12/site-packages (from scanpy) (0.61.2)
Requirement already satisfied: patsy!=1.0.0 in ./.venv/lib/python3.12/site-packages (from scanpy) (1.0.1)
Requirement already satisfied: pynndescent>=0.5 in ./.venv/lib/python3.12/site-packages (from scanpy) (0.5.13)
Requirement already satisfied: session-info2 in ./.venv/lib/python3.12/site-packages (from scanpy) (0.1.2)
Requirement already satisfied: statsmodels>=0.13 in ./.venv/lib/python3.12/site-packages (from scanpy) (0.14.4)
Requirement already satisfied: typing-extensions in ./.venv/lib/python3.12/site-packages (from scanpy) (4.13.1)
Requirement already satisfied: umap-learn!=0.5.0,>=0.5 in ./.venv/lib/python3.12/site-packages (from scanpy) (0.5.7)
Requirement already satisfied: threadpoolctl>=3.1.0 in ./.venv/lib/python3.12/site-packages (from scikit-learn) (3.6.0)
Requirement already satisfied: filelock in ./.venv/lib/python3.12/site-packages (from torch) (3.18.0)
Requirement already satisfied: jinja2 in ./.venv/lib/python3.12/site-packages (from torch) (3.1.6)
Requirement already satisfied: fsspec in ./.venv/lib/python3.12/site-packages (from torch) (2025.3.2)
Requirement already satisfied: nvidia-cuda-nvrtc-cu12==12.4.127 in ./.venv/lib/python3.12/site-packages (from torch) (12.4.127)
Requirement already satisfied: nvidia-cuda-runtime-cu12==12.4.127 in ./.venv/lib/python3.12/site-packages (from torch) (12.4.127)
Requirement already satisfied: nvidia-cuda-cupti-cu12==12.4.127 in ./.venv/lib/python3.12/site-packages (from torch) (12.4.127)
Requirement already satisfied: nvidia-cudnn-cu12==9.1.0.70 in ./.venv/lib/python3.12/site-packages (from torch) (9.1.0.70)
Requirement already satisfied: nvidia-cublas-cu12==12.4.5.8 in ./.venv/lib/python3.12/site-packages (from torch) (12.4.5.8)
Requirement already satisfied: nvidia-cufft-cu12==11.2.1.3 in ./.venv/lib/python3.12/site-packages (from torch) (11.2.1.3)
Requirement already satisfied: nvidia-curand-cu12==10.3.5.147 in ./.venv/lib/python3.12/site-packages (from torch) (10.3.5.147)
Requirement already satisfied: nvidia-cusolver-cu12==11.6.1.9 in ./.venv/lib/python3.12/site-packages (from torch) (11.6.1.9)
Requirement already satisfied: nvidia-cusparse-cu12==12.3.1.170 in ./.venv/lib/python3.12/site-packages (from torch) (12.3.1.170)
Requirement already satisfied: nvidia-cusparselt-cu12==0.6.2 in ./.venv/lib/python3.12/site-packages (from torch) (0.6.2)
Requirement already satisfied: nvidia-nccl-cu12==2.21.5 in ./.venv/lib/python3.12/site-packages (from torch) (2.21.5)
Requirement already satisfied: nvidia-nvtx-cu12==12.4.127 in ./.venv/lib/python3.12/site-packages (from torch) (12.4.127)
Requirement already satisfied: nvidia-nvjitlink-cu12==12.4.127 in ./.venv/lib/python3.12/site-packages (from torch) (12.4.127)
Requirement already satisfied: triton==3.2.0 in ./.venv/lib/python3.12/site-packages (from torch) (3.2.0)
Requirement already satisfied: setuptools in ./.venv/lib/python3.12/site-packages (from torch) (80.1.0)
Requirement already satisfied: sympy==1.13.1 in ./.venv/lib/python3.12/site-packages (from torch) (1.13.1)
Requirement already satisfied: mpmath<1.4,>=1.1.0 in ./.venv/lib/python3.12/site-packages (from sympy==1.13.1->torch) (1.3.0)
Requirement already satisfied: llvmlite<0.45,>=0.44.0dev0 in ./.venv/lib/python3.12/site-packages (from numba>=0.57->scanpy) (0.44.0)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Requirement already satisfied: MarkupSafe>=2.0 in ./.venv/lib/python3.12/site-packages (from jinja2->torch) (3.0.2)

[notice] A new release of pip is available: 25.1 -> 25.1.1
[notice] To update, run: pip install --upgrade pip

In [2]:
import scanpy as sc
import pandas as pd
import numpy as np
import numpy.typing as npt
import torch
from IPython.display import display

np.random.seed(42) # set seed to make reproducible outputs

In [3]:
adata = sc.read_h5ad("./data/subdom_processed.h5ad")
adata

AnnData object with n_obs × n_vars = 2671 × 13144
    obs: 'n_genes_by_counts', 'total_counts', 'clusters', 'ct_num_exp_genes', 'ct_score', 'ct_pseudotime'
    var: 'gene_ids', 'feature_types', 'genome', 'n_cells_by_counts', 'mean_counts', 'pct_dropout_by_counts', 'total_counts', 'highly_variable', 'means', 'dispersions', 'dispersions_norm', 'mean', 'std', 'ct_gene_corr', 'ct_correlates'
    uns: 'clusters_colors', 'clusters_sizes', 'ct_params', 'hvg', 'leiden', 'log1p', 'neighbors', 'paga', 'pca', 'umap'
    obsm: 'X_pca', 'X_umap'
    varm: 'PCs'
    layers: 'Ms', 'Mu', 'log_tpm', 'spliced', 'tpm', 'unspliced'
    obsp: 'connectivities', 'distances'

In [4]:
df_grn = pd.read_csv("./data/transcription_factor_adjacency_matrix.csv", index_col="gene_ids")
df_grn = df_grn.transpose()
df_grn.head()

gene_ids,SUB2.g1,SUB2.g2,SUB2.g11,SUB2.g16,SUB2.g18,SUB2.g21,SUB2.g22,SUB2.g26,SUB2.g27,SUB2.g31,...,SUB2.g12978,SUB2.g12979,SUB2.g12980,SUB2.g13052,SUB2.g13056,SUB2.g13090,SUB2.g13093,SUB2.g13119,SUB2.g13123,SUB2.g13134
SUB2.g8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
SUB2.g231,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0
SUB2.g755,0,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
SUB2.g902,1,1,1,0,0,0,0,0,0,0,...,0,0,1,1,1,0,0,0,0,0
SUB2.g924,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,1,1

## Approach 2.1 - Similarity between relative changes of means

In [5]:
def mmc(x: npt.ArrayLike, y: npt.ArrayLike) -> npt.ArrayLike:
    """
    Calculates the maximum mean change.
    """
    eta = 0.1e-10 # Used for avoiding divisions through zero
    return (y - x)/(np.maximum(x, y) + eta)

def score_similarity_relative_change(x: npt.ArrayLike, y: npt.ArrayLike) -> npt.ArrayLike:
    correlation_direction = np.sign(x * y)
    change_absolute_value = mmc(np.abs(x), np.abs(y))
    similarity_magnitude = 1 - np.abs(change_absolute_value)
    return correlation_direction * similarity_magnitude

def calculate_mean_change_similarity_matrix(cluster_a: npt.ArrayLike, cluster_b: npt.ArrayLike):
    mean_cluster_a = np.mean(cluster_a, axis=0)
    mean_cluster_b = np.mean(cluster_b, axis=0)
    relative_changes = mmc(mean_cluster_a, mean_cluster_b)
    n = relative_changes.shape[0]
    x = np.tile(relative_changes, (n, 1))
    similarity_matrix = score_similarity_relative_change(x, x.T)
    return similarity_matrix

In [ ]:
from data_utils import extract_samples_of_cell_cluster

cluster_a_id = "7" # stem cells
cluster_b_id = "0" # transition cells
cluster_a = extract_samples_of_cell_cluster(adata, cluster_a_id)
cluster_b = extract_samples_of_cell_cluster(adata, cluster_b_id)

# Filter out only those genes used in the GRN. Avoid unnecessary computation
gene_indices = pd.unique(df_grn.index.append(df_grn.columns))
cluster_a = cluster_a.loc[:, gene_indices]
cluster_b = cluster_b.loc[:, gene_indices]

similarity_matrix = calculate_mean_change_similarity_matrix(cluster_a.values, cluster_b.values)
df_similarity_mean_change = pd.DataFrame(similarity_matrix, index=gene_indices, columns=gene_indices)
display(df_similarity_mean_change.head())

,SUB2.g8,SUB2.g231,SUB2.g755,SUB2.g902,SUB2.g924,SUB2.g940,SUB2.g1013,SUB2.g1081,SUB2.g1118,SUB2.g1198,...,SUB2.g12978,SUB2.g12979,SUB2.g12980,SUB2.g13052,SUB2.g13056,SUB2.g13090,SUB2.g13093,SUB2.g13119,SUB2.g13123,SUB2.g13134
SUB2.g8,1.000000,-0.247332,-0.362465,0.445421,-0.870464,-0.517489,0.320999,-0.023565,0.353407,0.404589,...,0.143572,0.0,0.0,0.654117,0.612221,0.195182,0.790806,0.334613,0.246729,0.227296
SUB2.g231,-0.247332,1.000000,0.682361,-0.110167,0.215293,0.477946,-0.079393,0.005828,-0.087409,-0.100068,...,-0.580485,0.0,0.0,-0.378115,-0.151422,-0.789151,-0.195592,-0.739159,-0.997561,-0.918993
SUB2.g755,-0.362465,0.682361,1.000000,-0.161449,0.315512,0.700430,-0.116351,0.008542,-0.128098,-0.146649,...,-0.396100,0.0,0.0,-0.554128,-0.221909,-0.538486,-0.286639,-0.923159,-0.680697,-0.627085
SUB2.g902,0.445421,-0.110167,-0.161449,1.000000,-0.511705,-0.230500,0.720665,-0.052905,0.793424,0.908330,...,0.063950,0.0,0.0,0.291357,0.727548,0.086938,0.563249,0.149043,0.109898,0.101242
SUB2.g924,-0.870464,0.215293,0.315512,-0.511705,1.000000,0.450455,-0.368768,0.027072,-0.405999,-0.464797,...,-0.124974,0.0,0.0,-0.569385,-0.703328,-0.169899,-0.908488,-0.291268,-0.214768,-0.197853

In [7]:
refined_grn_mean_change = pd.DataFrame(np.zeros(df_grn.shape), index=df_grn.index, columns=df_grn.columns)
mask = df_grn == 1
refined_grn_mean_change[mask] = df_similarity_mean_change.loc[df_grn.index, df_grn.columns][mask]
display(refined_grn_mean_change.head())

gene_ids,SUB2.g1,SUB2.g2,SUB2.g11,SUB2.g16,SUB2.g18,SUB2.g21,SUB2.g22,SUB2.g26,SUB2.g27,SUB2.g31,...,SUB2.g12978,SUB2.g12979,SUB2.g12980,SUB2.g13052,SUB2.g13056,SUB2.g13090,SUB2.g13093,SUB2.g13119,SUB2.g13123,SUB2.g13134
SUB2.g8,0.000000,0.0000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
SUB2.g231,0.000000,0.0000,0.000000,0.0,0.0,0.166565,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,-0.151422,-0.789151,0.0,0.000000,0.000000,0.000000
SUB2.g755,0.000000,0.0000,-0.766945,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,-0.554128,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
SUB2.g902,0.052816,0.1951,0.210510,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.291357,0.727548,0.000000,0.0,0.000000,0.000000,0.000000
SUB2.g924,0.000000,0.0000,-0.411389,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.000000,-0.169899,0.0,-0.291268,-0.214768,-0.197853

## Approach 2.2 - Maximum mean difference discrepancy

In [ ]:
from tqdm import tqdm

def mean_kernel_matrix(x, y, sigma = 1., device=None):
    """
        Uses the radial basis function kernel
    """
    n, d = x.shape
    m, _ = y.shape

    denominator = 2 * sigma ** 2

    # cannot use vectorization here, because it needs to much space (97 GB)
    summed_kernels = torch.zeros((d, d), device=device)
    for i in tqdm(range(n), desc="Calculating mean kernel matrix..."):
        x_i = x[i, :, None]
        for j in range(m):
            y_j = y[j, None, :]
            distance_matrix = (x_i - y_j) ** 2
            kernel_matrix = torch.exp(-distance_matrix / denominator)
            summed_kernels += kernel_matrix
    return summed_kernels / (n * m)


def calculate_mmdd_similarity_matrix(cluster_a, cluster_b, sigma = 1.):
    device = torch.device("cuda" if torch.cuda.is_available() else "cpu")

    if isinstance(cluster_a, np.ndarray):
        cluster_a = torch.from_numpy(cluster_a).float()
    if isinstance(cluster_b, np.ndarray):
        cluster_b = torch.from_numpy(cluster_b).float()
    cluster_a = cluster_a.to(device)
    cluster_b = cluster_b.to(device)

    k_aa = mean_kernel_matrix(cluster_a, cluster_a, sigma=sigma, device=device)
    k_bb = mean_kernel_matrix(cluster_b, cluster_b, sigma=sigma, device=device)
    k_ab = mean_kernel_matrix(cluster_a, cluster_b, sigma=sigma, device=device)
    k_ba = k_ab.T

    k_diag = torch.diag(k_bb) - 2 * torch.diag(k_ba) + torch.diag(k_aa)

    squared_mmdd_matrix = (
        k_diag[:, None] + k_diag[None, :]
        - 2. * k_bb - 2. * k_aa
        + 2. * k_ab + 2. * k_ba
    )

    UPPER_BOUND_KERNEL = 1 # For RBF kernel the upper bound is 1
    UPPER_BOUND_MMDD = 8 * UPPER_BOUND_KERNEL # used as normalization factor, so that result is between -1 and +1
    correlation_directions = torch.sign(squared_mmdd_matrix)
    mmdd_matrix = torch.sqrt(torch.abs(squared_mmdd_matrix) / UPPER_BOUND_MMDD )

    similarity_matrix = correlation_directions * (1. - mmdd_matrix)

    return similarity_matrix.cpu().numpy()

In [9]:
# Only use a subset of the samples from the clusters, because else it takes ages to compute
cluster_a_samples = np.random.permutation(cluster_a.values)[:100]
cluster_b_samples = np.random.permutation(cluster_b.values)[:100]

similarity_matrix = calculate_mmdd_similarity_matrix(cluster_a_samples, cluster_b_samples)
df_similarity_mmdd = pd.DataFrame(similarity_matrix, index=gene_indices, columns=gene_indices)
display(df_similarity_mmdd.head())

Calculating mean kernel matrix...: 100%|██████████| 100/100 [24:37<00:00, 14.77s/it]
Calculating mean kernel matrix...: 100%|██████████| 100/100 [20:42<00:00, 12.42s/it]
Calculating mean kernel matrix...: 100%|██████████| 100/100 [20:17<00:00, 12.17s/it]
/tmp/ipykernel_479093/3673017717.py:46: DeprecationWarning: __array_wrap__ must accept context and return_scalar arguments (positionally) in the future. (Deprecated NumPy 2.0)
  correlation_directions = np.sign(squared_mmdd_matrix)
/tmp/ipykernel_479093/3673017717.py:47: DeprecationWarning: __array_wrap__ must accept context and return_scalar arguments (positionally) in the future. (Deprecated NumPy 2.0)
  mmdd_matrix = np.abs(squared_mmdd_matrix) // 2

,SUB2.g8,SUB2.g231,SUB2.g755,SUB2.g902,SUB2.g924,SUB2.g940,SUB2.g1013,SUB2.g1081,SUB2.g1118,SUB2.g1198,...,SUB2.g12978,SUB2.g12979,SUB2.g12980,SUB2.g13052,SUB2.g13056,SUB2.g13090,SUB2.g13093,SUB2.g13119,SUB2.g13123,SUB2.g13134
SUB2.g8,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
SUB2.g231,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
SUB2.g755,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
SUB2.g902,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
SUB2.g924,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [10]:
refined_grn_mmdd = pd.DataFrame(np.zeros(df_grn.shape), index=df_grn.index, columns=df_grn.columns)
mask = df_grn == 1
refined_grn_mmdd[mask] = df_similarity_mmdd.loc[df_grn.index, df_grn.columns][mask]
display(refined_grn_mmdd.head())

gene_ids,SUB2.g1,SUB2.g2,SUB2.g11,SUB2.g16,SUB2.g18,SUB2.g21,SUB2.g22,SUB2.g26,SUB2.g27,SUB2.g31,...,SUB2.g12978,SUB2.g12979,SUB2.g12980,SUB2.g13052,SUB2.g13056,SUB2.g13090,SUB2.g13093,SUB2.g13119,SUB2.g13123,SUB2.g13134
SUB2.g8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
SUB2.g231,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
SUB2.g755,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
SUB2.g902,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
SUB2.g924,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0